.icon {
    width: 150px;
    padding: 15px;
}

input {
    padding: 9px;
}

p {
    color: rgb(31, 69, 101);
}

li {
    font-size: 30px;
    border: brown 1px solid;
    padding: 6px;
}

/* .site-background {
    background-color: darkcyan;
} */

.red {
    text-align: center;
    color: red;
    display: inline-block;
}

.my-calculator .result-calculation {
    width: 250px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    color: rgb(85, 8, 76);
    font-size: 30px;
    border: brown 1px solid;
    border-radius: 15px;

}

.green {
    text-align: center;
    color: rgb(85, 8, 76);
}

.hello-world h1 {
    width: 300px;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

.inputs-block .input-block label{
    color: rgb(85, 8, 76);
    font-size: 30px;
    display: block;
    padding: 5px;
}

.inputs-block .input-block {
    width: 160px;
    display: inline-block;
    padding: 10px;
}

.inputs-block .input-block input{
    width: 160px;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
}
.inputs-block .input-block button{
    width: 160px;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
}
/* .current-time {
    width: 200px;
    text-align: center;
    background-color: azure;
    color: red;
    font-size: 30px;
    border: brown 1px solid;
    border-radius: 15px;
} */


#ppp6565 {
    width: 250px;
    margin: 0 auto;
    color: rgb(85, 8, 76);
    font-size: 30px;
    border: brown 1px solid;
    padding: 15px;
    border-radius: 15px;
}
.whitebackgroundcolor{
    background-color: whitesmoke;

}

.my-calculator {
    width: 1220px;
    background-color: azure;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(105, 135, 85);
    border-radius: 25px;
}

.my-calculator .operations-block .operation-block button {
    width: 80px;
    font-size: 20px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;

}

.whitebackgroundcolor{
    background-color: whitesmoke;

}
.block-canvas{
    text-align: center;

}
#c1{
    border: 5px solid rgb(60, 116, 195);
    widows: 1200px;
    height: 600px;
    margin: 10px auto;
    background: url('../images/setka.png') 
}

